<div class="container">
  <div class="row">

    <div class="col-md-12 text-center" id="top-bar">
      <img src = "../public/assets/img/burger.png" alt="burger" />
      <h1>Eat-Da-Burger!</h1>
    </div>

    <div class="col-md-6 text-center" class="task">
      <div class="row">

        <div class="col-md-9 text-center">
          <ul>
            {{#each burgers}}
            <li>
              <p><span class="label">ID: {{this.id}} </span><span class="label">Burger: {{this.burger_name}}</span></p>
            </li>
            {{/each}}
          </ul>
        </div>

        <div class="col-md-3 text-center">
          <button data-id="{{this.id}}" type="submit">Devour it!</button>
        </div>

      </div>
    </div>

  </div>
</div>


<div class="container">
  <div class="row">

    <div class="col-md-12 text-center" id="enter-section">
      
      <form id="createBurger" class="create-form">
        <textarea type="text" name="bgr"></textarea>
        <button type="submit">Submit</button>
      </form>
      <h5>Enter a burger you want to eat. Click the "Submit" button.</h5>
    </div>

  </div>
</div>

{{!-- //================================================================ --}}
<script type="text/javascript">


  $("createBurger").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // [name=plan] will find an element with a "name" attribute equal to the string "plan"
    var newBgr = {
      bgr: $("createBurger [name=bgr]").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/plans", {
      type: "POST",
      data: newBgr
    }).then(
      function() {
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });





</script>
